---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <main class="mt-16 px-10">
    <div class="max-w-prose mx-auto">
      <a href="/components/1" class="text-lg font-medium hover:underline">
        Component - 1
      </a>
    </div>
  </main>
</Layout>
